<div class="background-img">
  <img class="bg" src="../../assets/bg-image.png" alt="background-image" />
</div>

<div class="back-button-block">
  <div (click)="goToHomePage()" class="back-button">
    <img style="height: 25px; width: 25px;" src="assets/arrow-back.svg" alt="arrow" />
  </div>
  <h4>F.R.I.E.N.D.S</h4>
</div>

<div class="roulette-content">
  <h2 style="margin-top: 1rem; margin-bottom: 2rem;">Spin the wheel and find out where you and your friends will go to eat today!</h2>
  <div class="roulette-block">
    <img class="roulette-arrow" src="assets/roulette-arrow.png" alt="arrow" />
    <img id="roulette" class="roulette" src="assets/roulette.png" alt="roulette"/>
  </div>
  <button (click)="spin()" class="button">SPIN THE WHEEL</button>
</div>
