.roulette-content-position {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .roulette-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .roulette-title {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    .roulette-block {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      .roulette-arrow {
        margin-bottom: -2.5rem;
        z-index: 10;
      }

      .roulette {
        max-width: 480px;
        margin-bottom: 2rem;
        transition: transform 2s ease-out;
      }
    }
  }

}

@media only screen and (max-width: 1150px) {
  .roulette-content-position {
    .roulette-content {
      .roulette-title {
        font-size: 40px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .roulette-content-position {
    .roulette-content {
      .roulette-block {
        .roulette {
          max-width: 80vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .roulette-content-position {
    .roulette-content {
      .roulette-title {
        font-size: 6vw;
        margin-top: 2rem;
      }
    }
  }
}
