<div class="background-img">
  <img class="bg" src="../../assets/bg-image.png" alt="background-image" />
</div>
<div class="back-button-block">
  <div (click)="navigateToSessionPage()" class="back-button">
    <img style="height: 25px; width: 25px;" src="assets/arrow-back.svg" alt="arrow" />
  </div>
  <h4>F.R.I.E.N.D.S</h4>
</div>
<div class="session-code">
  <h4>CODE: <span class="red">FRN735</span></h4>
</div>
<div class="waiting-content">
  <div class="waiting-block">
    <h3>Waiting for friends to join</h3>
    <div class="activities-img">
      <img style="width: 100%;" src="../../assets/activities.png" alt="activities" />
    </div>
  </div>
</div>
