/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Rancho';
  src: url('assets/fonts/Rancho-Regular.ttf');
}

@font-face {
  font-family: 'Ranga-Regular';
  src: url('assets/fonts/Ranga-Regular.ttf');
}

@font-face {
  font-family: 'Ranga-Bold';
  src: url('assets/fonts/Ranga-Bold.ttf');
}

body {
  position: relative;
  margin: 0;
  overflow: hidden;
  height: 100vh;
}

.background-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: #D3EFEF;

  .bg {
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }
}

h1 {
  font-family: 'Rancho', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 120px;
  color: #000000;
  margin: 0;
}

h2 {
  font-family: 'Ranga-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 73px;
  text-align: center;
  color: #000000;
  margin: 0;
}

h4 {
  font-family: 'Ranga-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin: 0;
}

p {
  font-family: 'Ranga-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.button {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #BDDEF1;
  border: 2px solid #2D9CDB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-family: 'Ranga-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  padding: 10px;
  width: 248px;
  outline: none;
  transition: 0.3s;

  &:hover {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #8FD7FF;
  }
}

.back-button-block {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 10;

  .back-button {
    background: #D3EFEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
  }
}

.waiting-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  h5 {
    font-family: 'Ranga-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    color: #000000;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  h4 {
    font-family: 'Ranga-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 105px;
    text-align: center;
    color: #F51111;
    margin-bottom: 1rem;
  }

  h3 {
    font-family: 'Ranga-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 89.6703px;
    line-height: 131px;
    text-align: center;
    color: #000000;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  .waiting-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .activities-img {
      margin-bottom: 2rem;
      width: 846px;
    }
  }
}

.session-code {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 10;
  margin-right: 0.5rem;

  .red {
    color: #F51111;
  }
}

.quiz-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .checkbox-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.custom-control {
  position: relative;
  min-height: 1.5rem;
  padding-left: 3.5rem;
  margin-bottom: .5rem;
  height: 50px;
  display: flex;
  align-items: center;
  transition: .2s;

  .custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1rem;
    height: 1.25rem;
    opacity: 0;
  }

  .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    font-family: 'Ranga-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 28px;
    color: #000000;
    background: #C1EEF4;
    text-align: center;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 8px;
    min-width: 200px;
  }

  .custom-control-label::before {
    position: absolute;
    background: #99DBF8;
    border: 1px solid #B8B2B2;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    top: 0px;
    left: -3.2rem;
    content: "";
  }

  .custom-control-label::after {
    position: absolute;
    display: block;
    top: -0.2rem;
    left: -3.4rem;
    width: 3rem;
    height: 3rem;
    background: no-repeat 50%/50% 50%;
    content: "";
  }

  &:hover {
    .custom-control-label::after {
      background-image: url("assets/tick-gray.svg");
    }
  }
}

.custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("assets/tick.svg");
}

@media only screen and (max-width: 825px) {
  .quiz-content {
    .checkbox-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  h2 {
    font-size: 6vw;
    line-height: unset;
  }
  h1 {
    font-size: 17vw;
  }
}

@media only screen and (max-width: 890px) {
  .waiting-content {
    .waiting-block {
      .activities-img {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .waiting-content {
    h3 {
      font-size: 12vw;
      line-height: unset;
    }

    h4 {
      font-size: 11vw;
      line-height: unset;
    }

    h5 {
      font-size: 8.5vw;
      line-height: unset;
    }
  }
}

@media only screen and (max-width: 545px) {
  .custom-control {
    height: unset;

    .custom-control-label {
      padding: 0;
    }

    .custom-control-label::before {
      height: 2rem;
      width: 2rem;
      top: -2px;
    }

    .custom-control-label::after {
      top: -0.3rem;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  .quiz-content {
    .checkbox-grid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
