<div class="background-img">
  <img class="bg" src="../../assets/bg-image.png" alt="background-image" />
</div>
<div class="img-header">
  <img class="friends-img" src="../../assets/group-friends-jumping%201.png" alt="friends" />
  <div class="header-text">
    <h1>F.R.I.E.N.D.S</h1>
  </div>
</div>
<div class="content">
  <h4>Welcome friends!</h4>
  <h4>This site is for a group of friends who have a hard time deciding and making a unanimous decision when it comes to choosing which restaurant or cafe to go all together.</h4>
  <p style="margin-bottom: 1rem; margin-top: 1rem;">Select a selection method:</p>
  <div class="buttons">
    <button (click)="goToQuiz()" class="button">Not random choice “QUIZ”</button>
    <button (click)="goToRoulette()" class="button">Random choice “ROULETTE”</button>
  </div>
</div>
