<div class="background-img">
  <img class="bg" src="../../assets/bg-image.png" alt="background-image" />
</div>
<div style="margin-left: 0.5rem;" class="back-button-block">
  <h4>F.R.I.E.N.D.S</h4>
</div>
<div class="session-code">
  <h4>CODE: <span class="red">FRN735</span></h4>
</div>

<div class="quiz-content-position">
  <div class="quiz-content">
    <h2 style="margin-bottom: 1rem;">{{ quizQuestions[question - 1] }}</h2>
    <form style="margin-bottom: 1rem;" *ngIf="form" novalidate id="form" [formGroup]="form" (ngSubmit)="checkAnswers()">
      <div class="checkbox-grid" [style]="types === questionAnswers3 || types === questionAnswers5 ? 'grid-template-columns: repeat(2, minmax(0, 1fr));' : ''">
        <div role="menuitem" *ngFor="let control of form?.controls?.answers['controls']; let i = index;"
             [formGroup]="control">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" formControlName="checkbox" class="custom-control-input"
                   [attr.id]="'Group' + i" [attr.name]="'Group' + i"
                   [checked]="selectedAnswers[control.controls?.name.value]?.selected"
                   (change)="onClickAnswer(control.controls?.name?.value)" required />
            <label class="custom-control-label" style="width: 100%;"
                   [attr.for]="'Group' + i">{{control.controls?.name.value}}</label>
          </div>
        </div>
      </div>
    </form>
    <input *ngIf="question === 4" type="number" class="number-input" min="0" [(ngModel)]="value">
    <p *ngIf="question ===4 && incorrectValue" style="color: red;">Value is not correct</p>
    <div class="form-buttons">
      <button *ngIf="question < 5; else finish" type="submit" form="form" class="button">NEXT</button>
      <button *ngIf="question === 3" (click)="skipQuestion()" class="button">SKIP</button>
    </div>
    <ng-template #finish>
      <button (click)="finishQuiz()" class="button">FINISH</button>
    </ng-template>
  </div>
</div>
